﻿body {
    direction: rtl;
}

.KtumaMainButton{
    color:White;
    background-color:#48484a;
    font-family:arial;
    font-size:Medium;
    font-weight:bold;
    height:30px;
    width:160px;
    border-radius:10px;
    cursor:pointer;
}

.mainBTN {
    background-color: #48484a;
    color: white;
    height: 100px;
    width: 200px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}


.btnVerticalAlign {
    vertical-align: middle;
    cursor: pointer;
}
.btnVerticalAlignSmall {
    vertical-align: middle;
    cursor: pointer;
    width: 100px;
    height: 100px;
}
.mainBTNRounded {
    background-color: #48484a;
    color: white;
    height: 100px;
    width: 200px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.mainBTNDisabled {
    background-color: #48484a;
    color: white;
    height: 100px;
    width: 200px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}


.mainBTNSmall {
    background-color: #48484a;
    color: white;
    height: 80px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.MaintananceDiv {
    direction: rtl;
    padding: 5px 5px 5px 5px;
}

.MainDiv {
    margin: 10px;
}

.MainDivider
{
    direction:rtl;
    text-align:right;
}
.MainDivInline {
    width: 220px;
    margin: 10px;
    display: inline-block;
}


.btnEditKtumaSemi {
    background-color: #FF9333;
    color: white;
    height: 24px;
    width: 40%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}

.btnEdit {
    background-color: #FF9333;
    color: white;
    height: 24px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}

.btnEditDisabled {
    background-color: gray;
    color: white;
    height: 24px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}

.btnSave {
    background-color: #FF9333;
    color: white;
    height: 24px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}

.btnEditDisabledKtumaSemi {
    background-color: grey;
    color: white;
    height: 24px;
    width: 40%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}

.btnEditDisabledKtumaSmall {
    background-color: grey;
    color: white;
    height: 24px;
    width: 25%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}

.btnEditKtumaSmall {
    background-color: #FF9333;
    color: white;
    height: 24px;
    width: 25%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}



.btnEditKtuma {
    background-color: #FF9333;
    color: white;
    height: 30px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}

.btnEditDisabledKtuma {
    background-color: grey;
    color: white;
    height: 30px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}



.btnEditWidthKtuma {
    background-color: #FF9333;
    color: white;
    height: 30px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    vertical-align:middle;
}

.btnEditWidthKtumaDisabled {
    background-color: gray;
    color: white;
    height: 30px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}

.btnSave {
    background-color: blue;
    color: white;
}

.btnSaveKtuma {
    background-color: #FF9333;
    color: white;
    height: 30px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

.h1White {
    height: 83px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.h1WhiteSmall {
    height: 25px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.h1BlackSmall {
    height: 25px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    color: black;
}

.orangeDiv {
    color: white;
    direction: rtl;
}

.MainDiv {
    direction: rtl;
}
.TBLHeader {
    background-color: #48484A;
    font-weight: bold;
    color: white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.TDhidden
{
    display:none;
}
.TBLHeaderDispNone {
    background-color: #48484A;
    font-weight: bold;
    color: white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    visibility:hidden;
}


.TBLPager {
    background-color: #2461BF;
    color: white;
    vertical-align: central;
}

.TBLFooter {
    background-color: #507CD1;
    font-weight: bold;
    color: white;
}

.TBLRow {
    font-weight: bold;
    text-align: center;
}

.MoveableRow{
      font-weight: bold;
    text-align: center;
}
table {
    direction: rtl;
    border-collapse: collapse;
}.data_color_red
 {
    background-color:#ff5050;
    
}

 .data_color_white {
    background-color:White;
    
}
.data_color_yellow
{
       background-color:#f0f1a8;
           font-size:xx-large;
}
.data_color_green
 {
       background-color:#A9D18E;
          
}

.data_color_orange
 {
       background-color:#F8CBAD;

}

.data_color_orangeRed
 {
       background-color:#FF9966;
         
}

.data_user
 {
       background-color:gray;
       color:yellow;
       text-align:center;
}

.btnSaveDispNone {
    background-color: blue;
    color: white;
    display: none;
}


body {
    background: white;
    font-size: 1em;
    font-family: Arial;
    /* "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;*/
    margin: 0px;
    padding: 0px;
    color: black;
    direction: rtl;
}

.TDbold {
    font-weight: bold;
}

.TDboldNoBorder {
    font-weight: bold;
    border:none;
}

.tdEditClass {
    background-color: white;
    width:100px;
    max-width:100px;
    overflow:hidden;
}


.tableTitle {
    font-size: medium !important;
    text-align: right;
}

.tbl {
    border-collapse: collapse;
    border: 3px solid black;
    background-color: #c4e4fa;
}


.tblRes {
    border-collapse: collapse;
    border: 3px solid black;
    /*background-color:  #d2d9f6;*/
}


th,
tr, td
{
    border-collapse: collapse;
    border: 1px solid black;
    padding-right: 2px;
  
}

td
{
  text-align:right;
}

tr, th
{
    text-align: right;
    height:30px;
    
}


.inputReg {
    font-size: 12px;
    width: 90%;
    text-align: right;
    height: 14px;
}

.innerTable {
    width: 95%;
}


a:link, a:visited {
    color: #034af3;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #034af3;
}

p {
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page {
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header {
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

    .header h1 {
        font-weight: 700;
        margin: 0px;
        padding: 0px 0px 0px 20px;
        color: #f9f9f9;
        border: none;
        line-height: 2em;
        font-size: 2em;
    }

.main {
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol {
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer {
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink {
    background-color: #3a4f63;
    width: 100%;
}

div.menu {
    padding: 4px 0px 4px 8px;
}

    div.menu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: auto;
    }

        div.menu ul li a, div.menu ul li a:visited {
            background-color: #465c71;
            border: 1px #4e667d solid;
            color: #dde4ec;
            display: block;
            line-height: 1.35em;
            padding: 4px 20px;
            text-decoration: none;
            white-space: nowrap;
        }

            div.menu ul li a:hover {
                background-color: #bfcbd6;
                color: #465c71;
                text-decoration: none;
            }

            div.menu ul li a:active {
                background-color: #465c71;
                color: #cfdbe6;
                text-decoration: none;
            }

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset {
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

    fieldset p {
        margin: 2px 12px 10px 10px;
    }

    fieldset.login label, fieldset.register label, fieldset.changePassword label {
        display: block;
    }

    fieldset label.inline {
        display: inline;
    }

legend {
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry {
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry {
    width: 320px;
    border: 1px solid #ccc;
}

.FLD_ArchiveAdmin
{
    direction:rtl; display:none; width:50%; margin:auto; height:200px;
}

h2Sviva
{
    color:white;
}
.MasterDivSmall
{
    font-size:16px;
    vertical-align:middle;
    background-color:#fe6f3e;
    width:100%;    
    text-align:center;
    direction:rtl;
    margin-top:10px;    
    
}
.radio{
    width:10px;
    height:10px;
    margin-right:10px;
    cursor:pointer;
}

div.accountInfo {
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear {
    clear: both;
}

.title {
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

    .loginDisplay a:link {
        color: white;
    }

    .loginDisplay a:visited {
        color: white;
    }

    .loginDisplay a:hover {
        color: white;
    }

.failureNotification {
    font-size: 1.2em;
    color: Red;
}

.bold {
    font-weight: bold;
}

.submitButton {
    text-align: right;
    padding-right: 10px;
}


.TblNoBorders {
    width: 90%;
    border: none;
    margin: 10px;
}

.TblNoBordersTH {
    border: none;
    background-color: blue;
    color: white;
}

.TblNoBordersTr {
    border: none;
    background-color: blue;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.LBLLoginError {
    text-align: center;
    margin: 20px;
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.dialogTR {
    border: none;
    height: 30px;
}

.searchTdCenterBold {
    border: none;
    text-align: center;
    font-weight: bold;
}

.searchTdAlignRight {
    border: none;
    text-align: right;    
}

.searchTd {
    border: none;
    text-align: center; 
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color:#e8d11c; /* green background color */
    color: #000000; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 50%; /* 30px from the bottom */
    border-radius:10px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 50%; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 50%; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 50%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
    color:blue;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    height:50px;
    background-color: #ddcd1f;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    vertical-align:middle;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}