﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/HeadingMainFolder.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="pikudGui._Default" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
          <br />
    <br />
    <br />
    <br />
    <div style="width:100%; text-align:center;">
    <span style="direction:rtl;padding-right:10px;font-size:30px;">
        
למשתמש אין הרשאות להכנס למערכת, אנא פנה לתמיכה
        </span>
        </div>
</asp:Content>

