﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="HeadingMainFolder.master.cs" Inherits="MasterPages_HeadingMainFolder" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <asp:ContentPlaceHolder ID="head" runat="server">
         <link rel="stylesheet" href="CSS/mainStyle.css" type="text/css" />
        <link rel="stylesheet" href="../CSS/jquery-ui.min.css" type="text/css" />
        <link rel="stylesheet" href="../CSS/jquery-ui.theme.css" type="text/css" />
        <script type="text/javascript" src="Scripts/jquery-1.10.2.min.js"></script>
            <script type="text/javascript" src="Scripts/General.js"></script>
        <script type="text/javascript" src="../Scripts/jquery-ui.min.js"></script>
    </asp:ContentPlaceHolder>
</head>
<body style="direction:ltr;">
    <form id="form1" runat="server">
      
          <div style="width: 20%; float:left; background-color:#48484a; height:150px;">
         <img src="../Images/logo pakar- white.png" style="height:145px;"  align="left"/>         
</div>
        <div style="width: 50%; float:left; background-color:#48484a; height:150px; color:white; font-size:50px; font-weight:bold; text-align: center;line-height: 150px; "">
            <p style="margin: 0;"><span style="display:block">כלי תומך</span><span style="display:block">מדיניות התגוננות</span>

            </p>
</div>

<div style="width:30%; float:right; background-color:#fe6f3e;height:150px;">
   <img align="right" src="../Images/כתומה-01.png" style="height:150px;" />
</div>
           
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        
        <!--div style="font-size:28px;color:white;background-color:orangered; text-align:center"><h1 class="h1White"> מחלקת אוכלוסייה </h1></!--div-->
    </form>
</body>
</html>
